[General]
AdminDomain = {{ ansible_domain }}
ConfigDirectoryAdminID = uid=admin,ou=Administrators,ou=TopologyManagement,o=NetscapeRoot
ConfigDirectoryAdminPwd = {{ admin_pw }}
ConfigDirectoryLdapURL = ldap://{{ config_dir_host }}:389/o=NetscapeRoot
FullMachineName = {{ ansible_fqdn }}
ServerRoot = /usr/lib64/dirsrv
StrictHostCheck = true
SuiteSpotGroup = dirsrv
SuiteSpotUserID = dirsrv
[admin]
Port = 9830
ServerAdminID = admin
ServerAdminPwd = {{ admin_pw }}
ServerIpAddress = 0.0.0.0
SysUser = dirsrv
[slapd]
AddOrgEntries = Yes
AddSampleEntries = No
HashedRootDNPwd =
InstScriptsEnabled = true
InstallLdifFile = suggest
RootDN = cn=Directory Manager
RootDNPwd = {{ dm_pw }}
ServerIdentifier = {{ ansible_hostname }}
ServerPort = 389
Suffix = {{ dir_basedn }}
UseExistingMC = {{ use_existing_mc }}
bak_dir = /var/lib/dirsrv/slapd-{{ ansible_hostname }}/bak
bindir = /usr/bin
cert_dir = /etc/dirsrv/slapd-{{ ansible_hostname }}
config_dir = /etc/dirsrv/slapd-{{ ansible_hostname }}
datadir = /usr/share
db_dir = /var/lib/dirsrv/slapd-{{ ansible_hostname }}/db
ds_bename = userRoot
inst_dir = /usr/lib64/dirsrv/slapd-{{ ansible_hostname }}
ldif_dir = /var/lib/dirsrv/slapd-{{ ansible_hostname }}/ldif
localstatedir = /var
lock_dir = /var/lock/dirsrv/slapd-{{ ansible_hostname }}
log_dir = /var/log/dirsrv/slapd-{{ ansible_hostname }}
naming_value = {{ naming_value }}
run_dir = /var/run/dirsrv
sbindir = /usr/sbin
schema_dir = /etc/dirsrv/slapd-{{ ansible_hostname }}/schema
sysconfdir = /etc
tmp_dir = /tmp
